body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/white-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 200px 0 200px;
    background-color: rgb(32, 27, 39);
}

#title-recommendation {
    text-align: center;
    color: aqua
}

#label {
    color: violet;
    text-align: center;
}

.label-value {
    color: white;
    text-align: center;
}

#column-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#substation {
    color: white;
    text-align: center;
}