<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Data</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
    <script>
        // Function that runs on view details button click to show the voltages of a particular substation vs time in a graph
        function viewDetails(timestamp, substation, recommendation, voltage) {
            // for eg. timestamp = 2020-01-01 00:01:00
            // then the newtimestamp should be 2020-01-01 00:01:00, 2020-01-01 00:00:59, 2020-01-01 00:00:58, till last 15 seconds

            console.log(timestamp, substation, recommendation, voltage);

            const url = `view_details?timestamp=${timestamp}&substation=${substation}&recommendation=${recommendation}&voltage=${voltage}`;
            window.open(url);
        }

        // function viewFullDayGraph(timestampArray, voltageArray) {
        //     // convert all the , to url encoding
        //     timestampArray = encodeURIComponent(timestampArray);
        //     voltageArray = encodeURIComponent(voltageArray);
        //     console.log(timestampArray, voltageArray);
        //     const url = `full_day_graph.html?timestampArray=${timestampArray}&voltageArray=${voltageArray}`;
        //     window.open(url);
        // }

        function openReviewPage() {
            window.open("review");
        }
    </script>
</head>
<body>
    <div id="outer-container">
        <div id="header-container">
            <img src="{{ url_for('static',filename='img/gridindia_logo.png') }}" id="logo" alt="logo">
        </div>
        <div id="body-container">
    
            <div id="data-container">
                
                <script>
                    // Establish WebSocket connection
                    const socket = new WebSocket('ws://localhost:8765');
            
                    // Handle WebSocket messages
                    socket.onmessage = function(event) {
                        const data = JSON.parse(event.data);
                        updateData(data.reverse());
                    };
            
                    // Function to update HTML content with new data
                    function updateData(data) {
                        const container = document.getElementById('data-container');
                        container.innerHTML = ''; // Clear previous data
            
                        // Generate HTML content from the fetched data
                        const table = document.createElement('table');
                        table.border = '1';
                        const headerRow = document.createElement('tr');
                        headerRow.innerHTML = '<th class="table-header">Timestamp</th><th>Substation Name</th><th>Recommendation</th><th></th>';
                        table.appendChild(headerRow);
                        var limit = 20;
                        if (data.length > limit) {
                            data = data.slice(0, limit);
                        }
                        data.forEach(person => {
                            const row = document.createElement('tr');
                            row.innerHTML = `<td>${person[0]}</td><td>${person[1]}</td><td>${person[2]}</td><td><button onclick="viewDetails('${person[0]}', '${person[1]}', '${person[2]}', '${person[3]}')">View Details</button></td>`;
                            table.appendChild(row);
                        });
                        container.appendChild(table);
                    
                        // Add all the timestamps to an array and all the voltages to another array
                        let timestampArray = [];
                        let voltageArray = [];
                        data.forEach(person => {
                            timestampArray.push(person[0]);
                            voltageArray.push(person[3]);
                        });
        
                        // // Add the view full day graph button
                        // const viewFullDayGraphId = document.getElementById('view-full-day-graph');
                        // viewFullDayGraphId.innerHTML = `<button style="padding: 10px; background-color: green; color: white;" onclick="viewFullDayGraph('${timestampArray}','${voltageArray}')">
                        //     View Full Day Graph
                        //     </button>`;
                    }
                </script>
            </div>
            <div style="text-align: center; ">
                <button style="padding: 10px; background-color: green; color: white;" onclick="openReviewPage()">Review</button>
            </div>
        </div>
    </div>
</body>
</html>
